body {
  font-family: $primary-font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $primary-color;
  color: $white;
}

.card {
  background-color: $secendary-color;
}