<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="text-center">
                    <h4 class="mb-3">15.1</h4>
                    <p>System Outlet TOC</p>
                    <button class="btn btn-default mt-3">Complete System</button>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <h4 class="mb-3">14.33</h4>
                    <p>Complete Systemn Outlet TSS</p>
                    <button class="btn btn-default mt-3">Complete System</button>
                </div>
            </div>
        </div>
    </div>
    
</div>