<div class="main">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <app-complete-system></app-complete-system>

                </div>
                <!-- /.col-6 -->
                <div class="col-6">
                    <app-system-stats></app-system-stats>
                </div>
                <!-- /.col-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-3">
                    <tanks-system></tanks-system>

                </div>
                <!-- /.col-3 -->
                <div class="col-3">
                    <daf-system></daf-system>
                </div>
                <!-- /.col-3 -->
                <div class="col-3">
                    <app-act></app-act>
                </div>
                <!-- /.col-3 -->
                <div class="col-3">
                    <asp-system></asp-system>
                </div>
                <!-- /.col-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- /.main -->