// -------------font-family-------------
$primary-font-family:  'Poppins', sans-serif;


// ------------font-weight-------------

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-semibold: 600;
$font-weight-bolder: 700;
$font-weight-tobolder: 800;


// -------------color-----------

$primary-color: #121e30;
$secendary-color:#091529;
$success-color: #72bd4f;
$white: #fff;
$black: #000;
